<div class="report-buttons">
  <div class="btn-group" role="group" aria-label="...">
    <%= link_to "Interior Reports", project_docs_path, class: "btn btn-default" %>
    <%= link_to "Exterior Reports", exterior_reports_path, class: "btn btn-default active" %>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h3>Exterior Reports</h3>
    <table class="table table-striped">
      <tr>
        <th>Number</th>
        <th>Date Issued</th>
        <th>Date Uploaded</th>
        <th>Subject</th>
        <th></th>
      </tr>
      <% @exterior_reports.each do |exterior_report| %>
        <tr>
          <td><%= exterior_report.number %></td>
          <td><%= exterior_report.date_issued.strftime("%D") %></td>
          <td><%= exterior_report.created_at.strftime("%D") %></td>
          <td><div class="arabic-subject"><%= exterior_report.subject %></div></td>
          <td><% if exterior_report.user == current_user || current_user.admin? %>
            <%= link_to edit_exterior_report_path(exterior_report),  title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'left', target: "_blank" do %>
          <i class="fa fa-pencil"></i>
          <% end %> | <%= link_to exterior_report, title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o"></i>
          <% end %> |
          <% end %> <%= link_to exterior_report.report.url, title: 'Download', 'data-toggle' => 'tooltip', 'data-placement' => 'right', target: "_blank" do %> 
            <i class="fa fa-download"></i>
          <% end %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <div class="digg_pagination">
      <%= will_paginate @admin_circulars, :container => false %>
    </div>
    <div class="add-report">
      <%= link_to "Add Report", new_exterior_report_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>



          