<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @message.number %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Date issued:</strong>
  <%= @message.date_issued %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
