<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Civil:</strong>
  <%= @profile.civil %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Level:</strong>
  <%= @profile.level %>
</p>

<p>
  <strong>Employment date:</strong>
  <%= @profile.employment_date %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @profile.mobile %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @profile.folder %>
</p>

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @profile.internal %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @profile.nationality %>
</p>

<p>
  <strong>Vacation:</strong>
  <%= @profile.vacation %>
</p>

<p>
  <strong>Work email:</strong>
  <%= @profile.work_email %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @profile.experience %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
