<h2>تقارير و تعاميم</h2>
<h3>2015</h3>

<div class="row">
	<div class="col-md-offset-1 col-md-10">

		<table class="table table-striped">
      <tr>
        <th>Number</th>
        <th>Subject</th>
        <th>Date Issued</th>
        <th>View</th>
        <th>Download</th>
      </tr>
      <tr>
        <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      <tr>
        <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      <tr>
        <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      </tr>
      <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      </tr>
      <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
    </table>

    <h3>2014</h3>

    <table class="table table-striped">
      <tr>
        <th>Number</th>
        <th>Subject</th>
        <th>Date Issued</th>
        <th>View</th>
        <th>Download</th>
      </tr>
      <tr>
        <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      <tr>
        <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      <tr>
        <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      </tr>
      <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      </tr>
      <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
    </table>

     <h3>2013</h3>

    <table class="table table-striped">
      <tr>
        <th>Number</th>
        <th>Subject</th>
        <th>Date Issued</th>
        <th>View</th>
        <th>Download</th>
      </tr>
      <tr>
        <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      <tr>
        <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      <tr>
        <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      </tr>
      <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
      </tr>
      <td>1030</td>
        <td><h4>صرف المزايا العينية للسنة المالسة 2016/2017</h4></td>
        <td>12/4/2015</td>
        <td><%= link_to "View Report", "#", class: 'link-color' %></td>
        <td><%= link_to "Download Report", "#", class: 'link-color' %></td>
      </tr>
    </table>

  </div>
</div>