<div class="report-buttons">
  <div class="btn-group" role="group" aria-label="...">
    <%= link_to "Interior Reports", project_docs_path, class: "btn btn-default active" %>
    <%= link_to "Exterior Reports", exterior_reports_path, class: "btn btn-default" %>
  </div>
</div>
<h3>Interior Reports</h3>
<div class="row">


      <!-- Nav tabs -->
      <div class="tab-link-color">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#admin-circular" aria-controls="admin-circular" role="tab" data-toggle="tab">تعميم اداري</a></li>
        <li role="presentation"><a href="#admin-report" aria-controls="admin-report" role="tab" data-toggle="tab">قرار اداري</a></li>
        <li role="presentation"><a href="#circular" aria-controls="circular" role="tab" data-toggle="tab">تعميم</a></li>
        <li role="presentation"><a href="#interior-report" aria-controls="interior-report" role="tab" data-toggle="tab">منشور داخلي</a></li>
        <li role="presentation"><a href="#message" aria-controls="message" role="tab" data-toggle="tab">مراسلات</a></li>
        <li role="presentation"><a href="#ministry-report" aria-controls="ministry" role="tab" data-toggle="tab">قرار وزاري</a></li>
        <li role="presentation"><a href="#report" aria-controls="report" role="tab" data-toggle="tab">قرار</a></li>
      </div>


      <!-- Tab panes -->
        <div class="col-md-offset-1 col-md-10">
    <div role="tabpanel">
      <div class="tab-content">

       <div role="tabpanel" class="tab-pane active" id="admin-circular">
          <table class="table table-striped">
            <tr>
              <th>Number</th>
              <th>Date Issued</th>
              <th>Date Uploaded</th>
              <th>Subject</th>
              <th></th>
            </tr>

            <% @admin_circulars.each do |admin_circular| %>
              <tr>
                <td><%= admin_circular.number %></td>
                <td><%= admin_circular.date_issued.strftime("%D") %></td>
                <td><%= admin_circular.created_at.strftime("%D") %></td>
                <td><div class="arabic-subject"><%= admin_circular.subject %></div></td>
                <td><% if admin_circular.user == current_user || current_user.admin? %>
                <%= link_to edit_admin_circular_path(admin_circular), title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'left', target: "_blank" do %>
              <i class="fa fa-pencil"></i>
              <% end %> | <%= link_to admin_circular, title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top', method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash-o"></i>
              <% end %> |
              <% end %><%= link_to admin_circular.report.url, title: 'Download', 'data-toggle' => 'tooltip', 'data-placement' => 'right', target: "_blank" do %> 
                <i class="fa fa-download"></i>
              <% end %></td>
              </tr>
            <% end %>
          </table>
          <br>
          <div class="digg_pagination">
            <%= will_paginate @admin_circulars, :container => false %>
          </div>
          <div class="add-report">
            <%= link_to "Add Report", new_admin_circular_path, class: 'btn btn-primary' %>
          </div>
        </div>


   

      <div role="tabpanel" class="tab-pane" id="admin-report">
          <table class="table table-striped">
            <tr>
              <th>Number</th>
              <th>Date Issued</th>
              <th>Date Uploaded</th>
              <th>Subject</th>
              <th></th>
            </tr>

            <% @admin_reports.each do |admin_report| %>
              <tr>
               <td><%= admin_report.number %></td>
                <td><%= admin_report.date_issued.strftime("%D") %></td>
                <td><%= admin_report.created_at.strftime("%D") %></td>
                <td><div class="arabic-subject"><%= admin_report.subject %></div></td>
                <td><% if admin_report.user == current_user || current_user.admin? %>
                  <%= link_to edit_admin_report_path(admin_report), title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'left', target: "_blank" do %>
                <i class="fa fa-pencil"></i>
                <% end %> | <%= link_to admin_report, title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top', method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %> |
                <% end %> <%= link_to admin_report.report.url, title: 'Download', 'data-toggle' => 'tooltip', 'data-placement' => 'right', target: "_blank" do %> 
                  <i class="fa fa-download"></i>
                <% end %></td>
              </tr>
            <% end %>
          </table>
          <br>
          <div class="digg_pagination">
            <%= will_paginate @admin_reports, :container => false %>
          </div>
          <div class="add-report">
            <%= link_to "Add Report", new_admin_report_path, class: 'btn btn-primary' %>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="circular">
          <table class="table table-striped">
            <tr>
              <th>Number</th>
              <th>Date Issued</th>
              <th>Date Uploaded</th>
              <th>Subject</th>
              <th></th>
            </tr>

            <% @circulars.each do |circular| %>
              <tr>
               <td><%= circular.number %></td>
                <td><%= circular.date_issued.strftime("%D") %></td>
                <td><%= circular.created_at.strftime("%D") %></td>
                <td><div class="arabic-subject"><%= circular.subject %></div></td>
                <td><% if circular.user == current_user || current_user.admin? %>
                  <%= link_to edit_circular_path(circular), title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'left', target: "_blank" do %>
                <i class="fa fa-pencil"></i>
                <% end %> | <%= link_to circular, title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top', method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %> |
                <% end %> <%= link_to circular.report.url, title: 'Download', 'data-toggle' => 'tooltip', 'data-placement' => 'right', target: "_blank" do %> 
                  <i class="fa fa-download"></i>
                <% end %></td>
              </tr>
            <% end %>
          </table>
          <br>
          <div class="digg_pagination">
            <%= will_paginate @circulars, :container => false %>
          </div>
          <div class="add-report">
            <%= link_to "Add Report", new_circular_path, class: 'btn btn-primary' %>
          </div>
        </div>
        
        

         <div role="tabpanel" class="tab-pane" id="interior-report">
          <table class="table table-striped">
            <tr>
              <th>Number</th>
              <th>Date Issued</th>
              <th>Date Uploaded</th>
              <th>Subject</th>
              <th></th>
            </tr>

            <% @interior_reports.each do |interior_report| %>
              <tr>
                <td><%= interior_report.number %></td>
                <td><%= interior_report.date_issued.strftime("%D") %></td>
                <td><%= interior_report.created_at.strftime("%D") %></td>
                <td><div class="arabic-subject"><%= interior_report.subject %></div></td>
                <td><% if interior_report.user == current_user || current_user.admin? %>
                  <%= link_to edit_interior_report_path(interior_report), title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'left', target: "_blank" do %>
                <i class="fa fa-pencil"></i>
                <% end %> | <%= link_to interior_report, title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top', method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %> |
                <% end %> <%= link_to interior_report.report.url, title: 'Download', 'data-toggle' => 'tooltip', 'data-placement' => 'right', target: "_blank" do %> 
                  <i class="fa fa-download"></i>
                <% end %></td>
              </tr>
            <% end %>
          </table>
          <br>
          <div class="digg_pagination">
            <%= will_paginate @interior_reports, :container => false %>
          </div>
          <div class="add-report">
            <%= link_to "Add Report", new_interior_report_path, class: 'btn btn-primary' %>
          </div>
        </div>

          <div role="tabpanel" class="tab-pane" id="message">
          <table class="table table-striped">
            <tr>
              <th>Number</th>
              <th>Date Issued</th>
              <th>Date Uploaded</th>
              <th>Subject</th>
              <th></th>
            </tr>

            <% @messages.each do |message| %>
              <tr>
                <td><%= message.number %></td>
                <td><%= message.date_issued.strftime("%D") %></td>
                <td><%= message.created_at.strftime("%D") %></td>
                <td><div class="arabic-subject"><%= message.subject %></div></td>
                <td><% if message.user == current_user || current_user.admin? %>
                  <%= link_to edit_message_path(message), title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'left', target: "_blank" do %>
                <i class="fa fa-pencil"></i>
                <% end %> | <%= link_to message, title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top', method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %> |
                <% end %> <%= link_to message.report.url, title: 'Download', 'data-toggle' => 'tooltip', 'data-placement' => 'right', target: "_blank" do %> 
                  <i class="fa fa-download"></i>
                <% end %></td>
              </tr>
            <% end %>
          </table>
          <br>
          <div class="digg_pagination">
            <%= will_paginate @messages, :container => false %>
          </div>
          <div class="add-report">
            <%= link_to "Add Report", new_message_path, class: 'btn btn-primary' %>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="ministry-report">
          <table class="table table-striped">
            <tr>
              <th>Number</th>
              <th>Date Issued</th>
              <th>Date Uploaded</th>
              <th>Subject</th>
              <th></th>
            </tr>

            <% @ministry_reports.each do |ministry_report| %>
              <tr>
                <td><%= ministry_report.number %></td>
                <td><%= ministry_report.date_issued.strftime("%D") %></td>
                <td><%= ministry_report.created_at.strftime("%D") %></td>
                <td><div class="arabic-subject"><%= ministry_report.subject %></div></td>
                <td><% if ministry_report.user == current_user || current_user.admin? %>
                  <%= link_to edit_ministry_report_path(ministry_report), title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'left', target: "_blank" do %>
                <i class="fa fa-pencil"></i>
                <% end %> | <%= link_to ministry_report, title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top', method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %> |
                <% end %> <%= link_to ministry_report.report.url, title: 'Download', 'data-toggle' => 'tooltip', 'data-placement' => 'right', target: "_blank" do %> 
                  <i class="fa fa-download"></i>
                <% end %></td>
              </tr>
            <% end %>
          </table>
          <br>
          <div class="digg_pagination">
            <%= will_paginate @ministry_reports, :container => false %>
          </div>
          <div class="add-report">
            <%= link_to "Add Report", new_ministry_report_path, class: 'btn btn-primary' %>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="report">
          <table class="table table-striped">
            <tr>
              <th>Number</th>
              <th>Date Issued</th>
              <th>Date Uploaded</th>
              <th>Subject</th>
              <th></th>
            </tr>

            <% @reports.each do |report| %>
              <tr>
                <td><%= report.number %></td>
                <td><%= report.date_issued.strftime("%D") %></td>
                <td><%= report.created_at.strftime("%D") %></td>
                <td><div class="arabic-subject"><%= report.subject %></div></td>
                <td><% if report.user == current_user || current_user.admin? %>
                  <%= link_to edit_report_path(report), title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'left', target: "_blank" do %>
                <i class="fa fa-pencil"></i>
                <% end %> | <%= link_to report, title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top', method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %> |
                <% end %> <%= link_to report.file.url, title: 'Download', 'data-toggle' => 'tooltip', 'data-placement' => 'right', target: "_blank" do %> 
                  <i class="fa fa-download"></i>
                <% end %></td>
              </tr>
            <% end %>
          </table>
          <br>
          <div class="digg_pagination">
            <%= will_paginate @reports, :container => false %>
          </div>
          <div class="add-report">
            <%= link_to "Add Report", new_report_path, class: 'btn btn-primary' %>
          </div>
        </div>

      </div> 
    </div>
  </div>
</div>