<%= bootstrap_nested_form_for(@project, :html => {:multipart => true}, layout: :horizontal)   do |f| %>



  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-inputs">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">General Info</h4>
      </div>
    <div class="panel-body">
      <%= f.text_field :title %>
      <%= f.select :phase, [["Phase 1"], ["Phase 2"], ["Phase 3"]],  { label: "Phase"}, { class: "selectpicker" } %>
      <%= f.text_field :location %>
      <%= f.number_field :area, label: "Area (m2)" %>
      <%= f.text_field :client %>
      <%= f.text_field :designer %>
      <%= f.text_field :contractor %>
      <%= f.text_area :description, {size: "20x10"} %>
    </div>
  </div>
      
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Schedule Info</h4>
    </div>
  <div class="panel-body">
      <%= f.date_field :project_start, label: "Project Start Date" %>
      <%= f.date_field :expected_date, label: "Expected Completion Date" %>
      <%= f.date_field :signature_date, label: "Date of Contract Signature" %>
      <%= f.number_field :construction_period, label: "Construction Period (Months)" %>
   </div>
  </div>


<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Budget Info</h4>
    </div>
  <div class="panel-body">
      <%= f.number_field :budget, label: "Designated Budget" %>
      <%= f.number_field :design_cost, label: "Design Cost" %>
      <%= f.number_field :execution_cost, label: "Execution Cost" %>

     </div>
  </div>


<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Team Information</h4>
    </div>
  <div class="panel-body">
      <%= f.fields_for :teams do |builder| %>

     
      <%= builder.collection_select :member, User.all, :employee_name, :employee_name, { prompt: "Please select", :selected => params[:user], label: "Employee" } %> 
      <%= builder.select :role, [["Project Manager"], ["Assistant"], ["Other"]],  { label: "Role"}, { class: "selectpicker" } %>

      <p>
        <%= builder.link_to_remove "Remove" %>
      </p>
      <% end %>
      <%= f.link_to_add "Add Team Member", :teams %>
 </div>
  </div>

    


<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Images</h4>
    </div>
  <div class="panel-body">
  <%= f.fields_for :pictures do |builder| %>

     
      <p>
        <%= builder.file_field(:image) %>
      </p>

      <p>
      <%= builder.link_to_remove "Remove" %>
      </p>

  <% end %>

  <p>
   <%= f.link_to_add "Add Images", :pictures %>
 </p>
 </div>
  </div>

 <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>


 

