<h3>Listing projects</h3>



  <% @projects.each do |project| %>
    <div class="box panel panel-default">
      <div class="panel-body">
        <p>
          <strong>Title:</strong>
          <%= project.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= project.description %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= project.status %>
        </p>

        <p>
          <strong>Phase:</strong>
          <%= project.phase %>
        </p>

        <p>
          <strong>Location:</strong>
          <%= project.location %>
        </p>

        <%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>



<%= link_to 'New Project', new_project_path %>