<h3><%= @project.title %></h3>

<div role="tabpanel">

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
  <li role="presentation" class="active"><a href="#status" aria-controls="status" role="tab" data-toggle="tab">Status</a></li>
  <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
  <li role="presentation"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General Info</a></li>
  <li role="presentation"><a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a></li>
  <li role="presentation"><a href="#budget" aria-controls="budget" role="tab" data-toggle="tab">Budget</a></li>
  <li role="presentation"><a href="#reports" aria-controls="reports" role="tab" data-toggle="tab">Reports</a></li>
  <li role="presentation"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">Team</a></li>
  <li role="presentation"><a href="#images" aria-controls="images" role="tab" data-toggle="tab">Images</a></li>

<!-- Tab panes -->




<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="status">
     
      <div class="panel panel-info">
         <% @project.statuses.each do |status| %>
        <div class="panel-heading">
          <h4 class="panel-title"><%= status.status_title %></h4>
        </div>
        <div class="panel-body">
            <%= simple_format(status.status_update) %>
        </div>
        <div class="panel-footer"><h6>Posted by <%= status.user.employee_name %> on <%= status.created_at.strftime("%D")%></h6>
            </div>
          <% end %>
      </div>
      
     <div class="add-report">
      <%= link_to "Add Status Update", new_project_status_path(@project, @status), class: 'btn btn-primary' %>
    </div>
   
  </div>



  <div role="tabpanel" class="tab-pane" id="description">
    <div class="form-inputs">
      <div class="panel panel-default">
        
        <div class="panel-body">
          <p>
            <%= simple_format(@project.description) %>
          </p>
        </div>
      </div>
    </div>
  </div>




  <div role="tabpanel" class="tab-pane" id="general">
    <ul class="list-group">
        <li class="list-group-item">
          <strong>Phase:</strong>
          <%= @project.phase %>        
        </li>
        <li class="list-group-item">
          <strong>Location:</strong>
          <%= @project.location %>
        </li>
        <li class="list-group-item">
          <strong>Area:</strong>
          <%= @project.area %>
        </li>
        <li class="list-group-item">
          <strong>Client:</strong>
          <%= @project.client %>
        </li>
        <li class="list-group-item">
          <strong>Designer:</strong>
          <%= @project.designer %>
        </li>
       <li class="list-group-item">
          <strong>Contractor:</strong>
          <%= @project.contractor %>
       </li>
    </ul>
  </div>




  <div role="tabpanel" class="tab-pane" id="schedule">
    <ul class="list-group">
        <li class="list-group-item">
          <strong>Project Start Date:</strong>
          <%= @project.project_start %>
        </li>
        <li class="list-group-item">
          <strong>Expected Completion Date:</strong>
          <%= @project.expected_date %>
        </li>
        <li class="list-group-item">
 
          <strong>Date of Contract Signature:</strong>
          <%= @project.signature_date %>
        </li>

       <li class="list-group-item">
          <strong>Construction Period (Months):</strong>
          <%= @project.construction_period %> months
      </li>
      <li class="list-group-item">
        <strong>Expected Stage:</strong>
        <%= progress_bar 0.4, label: true, alternative: 'success' %>
      </li>
      <li class="list-group-item">
        <strong>Actual Stage:</strong>
        <%= progress_bar 0.3, label: true, alternative: 'warning' %>
      </li>
    </ul>
  </div>

 
      

  <div role="tabpanel" class="tab-pane" id="budget">
   <ul class="list-group">
     <li class="list-group-item">
        <strong>Designated Budget:</strong>
        <%= @project.budget %> KD
      </li>
      <li class="list-group-item">
        <strong>Design Cost:</strong>
        <%= @project.design_cost %> KD
      </li>
      <li class="list-group-item">
        <strong>Execution Cost:</strong>
        <%= @project.execution_cost %> KD
      </li>
    </ul>
  </div>


  <div role="tabpanel" class="tab-pane" id="reports">
    <table class="table table-striped">
      <tr>
        <th>Number</th>
        <th>Month</th>
        <th>Phase</th>
        <th>View / Download</th>
      </tr>

      <% @project.months.each do |month| %>
        <tr>
          <td>#&nbsp;<%= month.id %></td>
          <td><%= month.month_time %></td>
          <td><%= month.phase %></td>
          <td><%=  link_to 'Download file', month.report.url, target: "_blank" %></td>
        </tr>
      <% end %>
    </table>
    <div class="add-report">
      <%= link_to "Add Monthly Report", new_project_month_path(@project, @month), class: 'btn btn-primary' %>
    </div>
  </div>


  <div role="tabpanel" class="tab-pane" id="team">
    <div class="form-inputs">
      <div class="panel panel-default">
        
        <div class="panel-body">
          <% @project.teams.each do |team| %>
            <p><strong>Team Member:</strong>&nbsp;&nbsp;<%= team.user.employee_name %> - <%= team.role %></p>
          <% end %>
        </div>
      </div>
       <div class="add-report">
        <% if @project.teams.present? && @project.teams.first.user == current_user %>
        <%= link_to 'Edit Role', edit_project_team_path(@project, @project.teams.first), class: 'btn btn-primary' %>
        <%= link_to 'Leave Project Team', [@project, @project.teams.first], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
        <% else %>
        <%= link_to 'Join Project', new_project_team_path(@project, @project.teams.first), class: 'btn btn-primary' %>
        <% end %>
        </div>
    </div>
  </div>




  <div role="tabpanel" class="tab-pane" id="images">
   <div class="form-inputs">
      <div class="panel panel-default">
       
        <div class="panel-body">
          <div id="photos">
            <% @project.pictures.each do |picture| %>
              <div class="pic">
                <%= image_tag picture.image.url(:medium) %>
               <%=  link_to 'Download file', picture.image.url %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> 
</div>


