<div class="row">
  <div class="col-md-offset-1 col-md-10">

    <h3><%= @project.title %></h3>


    <div class="form-inputs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Description</h4>
        </div>
      <div class="panel-body">

        <p>
          <%= simple_format(@project.description) %>
        </p>

      </div>
    </div>
  </div>
    
     <div class="form-inputs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">General Info</h4>
        </div>
      <div class="panel-body">

        <p>
          <strong>Status:</strong>
          <%= @project.status %>
        </p>

        <p>
          <strong>Phase:</strong>
          <%= @project.phase %>
        </p>

        <p>
          <strong>Location:</strong>
          <%= @project.location %>
        </p>

        <p>
          <strong>Area:</strong>
          <%= @project.area %>
        </p>

        <p>
          <strong>Client:</strong>
          <%= @project.client %>
        </p>

        <p>
          <strong>Designer:</strong>
          <%= @project.designer %>
        </p>


         <p>
          <strong>Contractor:</strong>
          <%= @project.contractor %>
        </p>


      </div>
    </div>
  </div>



    <div class="form-inputs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Team</h4>
        </div>
        <div class="panel-body">
          <% @project.teams.each do |team| %>
            <p><strong>Team Member:</strong>&nbsp;&nbsp;<%= team.member %> - <%= team.role %></p>
          <% end %>
        </div>
      </div>
    </div>


    <div class="form-inputs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Schedule Info</h4>
        </div>
      <div class="panel-body">

        <p>
          <strong>Project Start Date:</strong>
          <%= @project.project_start %>
        </p>

        <p>
          <strong>Expected Completion Date:</strong>
          <%= @project.expected_date %>
        </p>

        <p>
          <strong>Date of Contract Signature:</strong>
          <%= @project.signature_date %>
        </p>

        <p>
          <strong>Construction Period (Months):</strong>
          <%= @project.construction_period %> months
        </p>

      <p>
        <strong>Expected Stage:</strong>
        <%= progress_bar 0.4, label: true, alternative: 'success' %>
      </p>

      <p>
        <strong>Actual Stage:</strong>
        <%= progress_bar 0.3, label: true, alternative: 'warning' %>
      </p>

      </div>
    </div>
  </div>

    <div class="form-inputs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Budget Info</h4>
        </div>
        <div class="panel-body">

          <p>
            <strong>Designated Budget:</strong>
            <%= @project.budget %> KD
          </p>

          <p>
            <strong>Design Cost:</strong>
            <%= @project.design_cost %> KD
          </p>

          <p>
            <strong>Execution Cost:</strong>
            <%= @project.execution_cost %> KD
          </p>

        </div>
      </div>
    </div>



    <div class="form-inputs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Images</h4>
        </div>
        <div class="panel-body">
        <div id="photos">
              <% @project.pictures.each do |picture| %>
              <div class="pic">
                <%= image_tag picture.image.url(:medium) %>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
  </div>
</div>



